html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/* MY CODE */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;

    }

html{
    min-width: 100%;
}


body {
    width: 100%;
    background: linear-gradient(45deg, red, blue);
}

.wrapper {
    width:95%;
    height: auto;
    margin: 0 auto;
}

header {
    overflow: hidden;
    background: linear-gradient(45deg, azure, blue);
    width: 100%;
    height: auto;
}



.header-name{
    margin-top: 3vw;
    height: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 8vw;
    text-transform: uppercase;
    
    display: block;
    padding: 10px;
    text-align: center;
}

.header-name a {
    border: 1vw solid;
    border-radius: 1.5vw;
    color: black;

}

.header-name a:hover {
    color: rgb(252, 29, 29);
    transition: 0.5s;
}

header nav ul {
    display: block;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

header nav ul li {
    display: inline-block;
    list-style: none;
}

header nav ul li a{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 3.5vw;
    margin-left: 6px;
    color: black;
}

header nav ul li a:hover{
    border-bottom: rgb(252, 29, 29) solid 0.5vw ;
    border-radius: 0.5vw;
    color: rgb(252, 29, 29);
    transition: 0.2s;
}

.advertise {
    width: 100%;
    height: 40vw;
    background-image: url('images/cell.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

}
 h1 {
    
    padding-top: 5vw;
    text-align: center;
    text-shadow: 1px 1px #dddeec;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 7vw;
 }

 .intro {
    border: 4px solid rgb(218, 214, 214);
    border-radius: 10px;
    box-shadow: 3px 3px rgb(207, 206, 206) ;
    margin: 5vh 2vw;
    padding: 20px; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4vw;
    text-align: justify;
 }

 .molecules {
    height: auto
 }

 .box-link {
    background-color: rgb(231, 228, 228);
    height: 10vw;
    padding-top: 5vw;
    border: 4px solid rgb(216, 213, 213);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    font-size: 5vw;
 }

 .box-link a{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
 }

 .box-link:hover {
    box-shadow: 4px 4px rgb(185, 181, 181);
 }

 .box-link a:hover{
    color:red;
    border-bottom: 1vw solid red;
    border-radius: 1vw;
    transition: 60ms
 }

footer {
     height: auto;
     background-color: grey;
 }

footer ul {
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vh;
    width: max-content;
    display: inline-block;
 }

footer ul li{
  list-style: none;   
  width:max-content;

}


footer ul li a{
    font-size: 2vw;
    color: white;
    margin-top: 0.1vw;
}

footer ul li a:hover{
    border-bottom: 2px solid white;
    border-radius: 2px;
    transition: 60ms;
}

.image-wrapper{
    width:100%;
    height: auto;
}

.molecule-pic{
    width: 100%;
    height: auto;
}

.indiv-molecule{
    height:auto;
}

.sub-head{
    margin-top: 3vh;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 7vw;
}

.intro a{
    color: rgb(129, 113, 113);
    text-decoration: underline;
}

.icons{
    position: absolute;
    display: inline-block;
    height:max-content;
    width:max-content;
    right:10px;
    margin-top: 5vw;
}

.github{
    margin-left: 0.5vw;
}

@media only screen and (min-width: 1000px) {
    .boxes{
        text-align: center;
    }

    .box-link {
        display: inline-block;
        width: 41vw;
        margin: 5vh 2vw;
        

     }

     .molecules {
         height: auto
     }
    
}

